<h1>
  <!-- {{title}}
  <cousrse></cousrse>
  <app-authors></app-authors> -->
   <!-- <faviortes [isActive]="post.favorite" (change)="onFavoriteChange($event)"></faviortes>
  <bootstrap-panel>
    <ng-container class="heading">Hellow heading is here</ng-container>
    <div class="body">
      <h4>complext contect injecting</h4>
      <br>
      <p>this is the </p>
       <h4>complext contect injecting</h4>
      <br>
    </div>

  </bootstrap-panel> 

  <app-directive></app-directive> -->

<!-- <input type="text" appInputFormat [format]="'lowercase'" > -->
<!-- to use directive as a proprty bindingin -->
<!-- <input type="text" [appInputFormat] ="'lowercase'" > -->
<!-- <contact-form></contact-form> -->


</h1>

  <!-- <signup-form></signup-form> -->

    <!-- <app-coursecomponent></app-coursecomponent> -->
    <!-- <app-postcomponent></app-postcomponent> -->

    <navbar></navbar>
<router-outlet></router-outlet>